body {
  background-color: #d3d3d3;
  color: #000000;
  font-size: 18px;
  line-height: 3;

}

nav {
  background-color: #909090;
  float: left;
  position: fixed;
  width: 100%;
  font-size: 2em;
  line-height: .75;
}

.logo {
  background:#fff url(images/bloc-logo.png) no-repeat
  background-position: top;
  padding: 20px;
  border: 20px;
  width: 100px;
}

.large-pic {
  background: #fff url(images/instagram-pic.jpg) no-repeat
  background-position: top;
  width: 100%;
  padding-top: 100px;



}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

h1
{font-size: 3em;
  font-weight: bold;
  line-height: 1;
}


h3
  {font-size: 2em;
    font-weight: bold;
    line-height: 1.25;
    padding-top: 25px;
  }

p.author
{ font-size: 1.25em;
  padding-top: 10px;
  padding-bottom: 50px;
}


article {
  font-size: 100%;
  padding-top: 10px;
  line-height: 3;
  line-height: 2em;
}

a {
  text-decoration: none;


a:link { color:#FFFFFF; } /* unvisited */
a:visited { color:#0070BA; } /* visited */
a:hover { color:#0070BC; } /* mouse over */
a:active { color:#0070BD; } /* selected */
}

.container {
  margin: 0 auto;
  width: 50%;
}
